  .modal_wrapper {
    position: fixed;
     top:0;
     left: 0;
     bottom: 0;
     right: 0;
     }    

 .modal_box {
    display: flex;
    flex-direction: column;
    align-items: center;
     position: relative;
     height: 718px;
     width: 720px;
     margin-top: 180px;
     margin-left: 640px;
     margin-right: 640px;
     background: #1c1c21;
     box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.04), 0px 16px 24px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
     border-radius: 40px;
     z-index: 101;
   }   
